*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;
}


.main-container{
    display: flex;
}

.side-bar{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 5.625%;
   height: 99.5vh;
   /* border: 1px solid greenyellow; */
   background-color: #2C2C2C;
}

.side-bar-top-container{
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    gap:43px;
    align-items: center;

}

.icons-container{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 29px 19px;
    border-radius: 3px;
    padding: 7px 14px;
    cursor: pointer;
}

.icons:active,.active{
  background-color: white;
}
.icons:active img{
    filter: brightness(0%);
  }

.icons img{
    width: 26px;
    height: 26px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px ;
}

.logo img{
    width: 40px;
}


.icon-info{
    position: relative;
    width: 21.95%;
    height: 99.5vh;
    /* border: 1px solid green; */
    background-color: #1A1A1A;
    color:white;
}

.exit-symbol{
    position: relative;
    width: 23px;
    height: 23px;
    top: 1.5%;
    left: 89%;
    cursor: pointer;
}

.icon-info-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    /* border: 1px solid red; */
    padding: 10px;
    gap: 15px;
}

.add-info{
    display: flex;
    align-items: center;
    gap: 8px;
    /* border: 1px solid green; */
}

.add-info img{
    width: 24px;
    height: 24px;
}

.add-info p{
    font-size: 16px;
}

.range-slider{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.range-slider__range{
    width: 98%;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 50%;
}


.range-slider__range::-webkit-slider-runnable-track {
	background-color: #D9D9D9;
    height: 2px;
	border-radius: 4px;
	cursor: pointer;
	width: 95%;
	height: 5px;
}

.range-slider__range::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #ffffff;
	border-radius: 50%;
	border: 3px solid #247CFF;
  	cursor: pointer;
	height: 15px;
	width: 15px;
	margin-top: -5px;
	
}


.circle{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #D9D9D9;
    border-radius: 50%;
    left: 89%;
    z-index: 1;
    top: 5.9em;
}

.range-slider div{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #888888;
}

.input-field form{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

form input,textarea,select{
 border-radius: 8px;
 padding: 8px;
 border: .25px solid #888888;
 font-size: 12px;
 background-color: inherit;
 color: #888888;
}

.option{
 background-color: #1A1A1A;
 /* height: 10px !important; */
}

.option-div{
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.option-div-icon{
    width:5px;
    height:5px;
    background-color: red;
}


form button{
    width: 35%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #247CFF;
    font-size: 12px;
    color: aliceblue;
    margin-top: 10px;
    cursor: pointer;
}

.check-box{
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 8px;
    font-size: 12px;
    font-weight: 500;
    color:#FFFFFF;
}

.checkbox{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
  }
  .checkbox__input{
    display: none;
  }
  .checkbox__box{
    width: 1em;
    height: 1em;
    border: 1px solid #247CFF;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background 0.15s, border-color 0.15s;
  }
  .checkbox__box::after{
    content: '\2714';
    color: #ffffff;
    transform: scale(0);
    transition: tranform 0.15s;
  }
  .checkbox__input:checked + .checkbox__box{
    background: #2266dc;
    border-color: #2266dc;
  }
  .checkbox__input:checked + .checkbox__box::after{
    transform: scale(1);
  }




.map-container{
    width: 72.425%;
    height: 99.5vh;
    /* border: 1px solid salmon; */
    background-image: url("./image/map-image.svg");
}

.map-control-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42.91px;
    /* border: 1px solid red; */
    top: 3.86%;
    left: 95.55%;
    gap: 8px;
}

.map-control{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.91px;
    height: 42.91px;
    /* border: 1px solid green; */
    cursor: pointer;
}

.map-control img{
    width: inherit;
}

.map-control4{
    width: 37px;
    height: 34px;
    border-radius: 4px;
    background-color: rgb(79,79,79);
}

.map-control4 img{
    width: 21px !important;
    /* border: 1px solid red; */
}

.map-info-control-container{
    position: absolute;
    display: flex;
    gap: 12px;
    /* border: 1px solid red; */
    align-items: center;
    top: 93%;
    left: 29%;
    justify-content: center;
    padding: 3px 8px 0px 8px;
    background-color: white;
    border-radius: 25px;
}

.info-control{
    cursor: pointer;
}